@font-face {
    font-family: 'BeaufortforLOL Bold';
    src: url(fonts/BeaufortforLOL-Bold.ttf);
}

@font-face {
    font-family: 'Spiegel Regular';
    src: url(fonts/Spiegel-Regular.ttf);
}

body {
    background-color: #010A13;
    color: rgb(240, 230, 210);
    font-family: 'Spiegel Regular';
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'BeaufortforLOL Bold';
    color: rgb(205, 165, 79);
}

h1 {
    font-size: 4rem;
    text-shadow: 0px 0px 20px rgb(61, 49, 24);
}

h2 {
    font-size: 2.7rem;
    text-shadow: 0px 0px 20px rgb(61, 49, 24);
}

p,
a {
    font-size: 1.5rem;
    max-width: 60ch;
}

a {
    color: rgb(240, 230, 210);
}

b {
    color: rgb(190, 0, 0);
}

hr {
    color: rgb(240, 230, 210);
}

header {
    padding-block: 50px;
    background-image: url(img/top-lane.jpg);
    background-color: #010A13;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#loading-screen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #010A13;
    z-index: 9999;
    transition: opacity 0.3s ease-out;
}

#loading-screen h1 {
    font-size: 6rem;
}

#loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

.intro {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.intro h1 {
    font-size: 7rem;
    padding-block: 20px;
}

.asterisk {
    font-size: max(10px, 1rem);
    vertical-align: text-top;
}

.champ-quote {
    width: fit-content;
    max-width: 80vw;
    margin: 40px auto;
    text-align: center;
    font-size: max(14px, 1.5rem);
}

.champ-quotation-start {
    color: rgb(205, 165, 79);
    font-size: max(25px, 3rem);
    text-align: start;
}

.champ-quotation-end {
    color: rgb(205, 165, 79);
    font-size: max(25px, 3rem);
    text-align: end;
}

#work-ethic {
    padding-block: 90px;
    margin: 60px auto;
    text-align: center;
    background-color: #010A13;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#work-ethic h1 {
    width: fit-content;
    margin: 0 auto;
    padding-inline: 10px;
    background-color: #000810a1;
    border-radius: 10px;
}

.ethic-container {
    display: grid;
    width: fit-content;
    margin: 0 auto;
    grid-template-columns: 25vw 25vw;
    gap: 40px;
    text-align: left;
}

.ethic-container h2 {
    background-color: #000810a1;
    width: fit-content;
    margin: 4px auto;
    padding-inline: 15px;
    border-radius: 10px;
}

.ethic-container p {
    margin-block-start: 10px;
    background-color: #000810a1;
    padding: 20px;
    border-radius: 25px;
}

.skill {
    width: fit-content;
    margin: 60px auto;
    text-align: center;
}

.skill p {
    max-width: 80vw;
}

.skill img {
    max-width: 60vw;
    margin: 0 auto;
    padding-block: 30px;
}

.clip {
    margin: 60px auto;
    padding-block: 50px;
    text-align: center;
    background-image: url(img/bot-lane.jpg);
    background-color: #010A13;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clip p {
    padding-bottom: 20px;
    margin: 0 auto;
}

.video {
    width: fit-content;
    margin: 0 auto;
}

.video iframe {
    border: 6px solid rgb(205, 165, 79);
    border-radius: 5px;
    max-width: 85vw;
}

.feedback {
    width: fit-content;
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.feedback p {
    margin: 0 auto;
}

.feedback form {
    padding-block: 20px;
    width: 40vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.feedback label {
    font-size: 1.5rem;
    max-width: 60ch;
    color: rgb(240, 230, 210);
}

input[type=text],
select {
    max-width: 50vw;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(205, 165, 79);
    background-color: #04162a;
    color: rgb(240, 230, 210);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 175px;
    font-size: 2rem;
    background-color: rgb(185, 145, 57);
    color: rgb(240, 230, 210);
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(152, 112, 31);
}

input#username {
    text-align: center;
}

footer {
    text-align: center;
    padding-block: 20px;
    background-color: #000810;
}

footer p,
footer a {
    max-width: 80vw;
    margin: 0 auto;
    font-size: 1rem;
}

@media only screen and (min-width: 2000px) {
    #work-ethic {
        max-width: 80vw;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .ethic-container {
        grid-template-columns: 35vw 35vw;
    }
}

@media only screen and (max-width: 850px) {
    .ethic-container {
        grid-template-columns: 80vw;
        grid-template-rows: auto auto;
    }
}


@media only screen and (max-width: 700px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p,
    a {
        font-size: 1.4rem;
        max-width: 60ch;
    }

    .ethic-container {
        grid-template-columns: 80vw;
        grid-template-rows: auto auto;
    }
}

@media only screen and (max-width: 550px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    p,
    a {
        font-size: 1.2rem;
        max-width: 60ch;
    }

    .intro h1 {
        font-size: 7rem;
    }

    .skill img {
        max-width: 85vw;
    }

    .ethic-container {
        grid-template-columns: 80vw;
        grid-template-rows: auto auto;
    }
}